.footer__container {
    margin-top: 20px;
    height: 450px;
    width: 100%;
    background-color: var(--color-primary);
}

.footer-navigation {
    text-align: center;
    color: white;
}

.footer-navigation__item {
    margin-right: 30px;
}

.secondary-links__container {
    margin: 60px auto;
    width: 50%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.secondary-link__item {
    color: white;
}

.footer__icon {
    font-size: 2rem;
    margin-right: 10px;
}