.footer__container {
    margin-top: 20px;
    height: 450px;
    width: 100%;
    background-color: var(--color-primary);
    position: relative;
}

.footer-navigation {
    text-align: center;
    color: white;
}

.footer-navigation__item {
    margin-right: 30px;
    cursor: pointer;
}

.secondary-links__container {
    margin: 60px auto;
    width: 50%;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.secondary-link__item {
    color: white;
}

.about-items__container {
    display: flex;
    gap: 2rem;
}

.about__column {
    margin-top: 15px;
    width: 120px;
}

.about__link {
    margin-top: 10px;
    cursor: pointer;
}

.footer__icon {
    font-size: 2rem;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
}

.legal-text__container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.legal-links__container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    color: white;
}